*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
} 

.logo {
    width: 64px;
    height: 64px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #bfbfbf;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.heromain {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}

.herosecond {
    color: #bfbfbf;
    font-size: 18px;
    margin-bottom: 8px;
}

.herotext {
    max-width: 400px;
    
}

.herotext button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 8px 32px;
    border: none;
}

.section1 {
    background-color: #1F2937;
    padding: 8px 256px 128px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.hero img {
    width: 400px;
}

.section2 {
    padding: 64px;
}

.header2 {
    text-align: center;
    font-size: 32px;
    color: #1F2937;
    font-weight: 900;
}

.info {
    display: flex;
    justify-content: center;
    padding: 64px;
    gap: 32px;
}

.info1, .info2, .info3, .info4 {
    max-width: 100px;
    text-align: center;
}

.info1 img, .info2 img, .info3 img, .info4 img {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}

.section3 {
    background-color: #E5E7EB;
    padding: 64px 320px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quoteby {
    text-align: end;
    font-weight: bold;
}

.section4 {
    display: flex;
    justify-content: center;
    padding: 64px 256px;
    flex-grow: 1;
}

.calltoaction {
    background-color: #3882f6;
    border-radius: 8px;
    border: 0px none;
    display: flex;
    justify-content: space-between;
    padding: 48px 96px;
    flex-grow: 1;
}

.section4 .calltoaction button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 8px 32px;
    border: 2px solid #F9FAF8;
    font-weight: bold;
}

.uppertext {
    font-weight: bold;
    color: #F9FAF8;
}

.lowertext {
    color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 48px 0px;
}
